<launch>

    <arg name="project"       default="lio_sam"/>
    <arg name="publish_clock" default="--clock"/>
    <arg name="autorun"       default="false"/>
    <arg name="loop_en"       default="0"/>
    
    <param name="/use_sim_time" value="false" />
    
    <!-- MCDVIRAL dataset, downloadable at mcdviral.github.io. -->
    
    <arg name="data_path" default="/media/tmn/mySataSSD1/DATASETS/MCDVIRAL/PublishedSequences"/>

    <arg  name="bag_file"  default="$(arg data_path)/ntu_day_01/*.bag"/>
    <!-- <arg  name="bag_file"  default="$(arg data_path)/kth_day_06/*.bag"/> -->
    <!-- <arg  name="bag_file"  default="$(arg data_path)/tuhh_day_03/*.bag"/> -->

    <!-- Chose the config file based on the sequence names -->
    <arg name="config_file" value="mcdviral_atv_ouster.yaml" if="$(eval 'ntu_'  in bag_file)" /> <!-- You can change to mcdviral_ouster.yaml or mcdviral_atv_livox.yaml-->
    <arg name="config_file" value="mcdviral_hhs_ouster.yaml" if="$(eval 'kth_'  in bag_file)" /> <!-- You can change to mcdviral_ouster.yaml or mcdviral_hhs_livox.yaml-->
    <arg name="config_file" value="mcdviral_hhs_ouster.yaml" if="$(eval 'tuhh_' in bag_file)" /> <!-- You can change to mcdviral_ouster.yaml or mcdviral_hhs_livox.yaml-->

    <!-- Directory to log the bundle adjustment poses, pointclouds, and others-->
    <arg name="exp_log_dir" default="/home/$(env USER)/lio_sam_logs/mcdviral"/>

    <!-- Run the livox to ouster converter -->
    <!-- <node pkg="slict" type="slict_livox_to_ouster" name="slict_livox_to_ouster" respawn="false" output="log" required="true"></node>   -->

    <!-- Create the merge pointcloud -->
    <!-- <node pkg="slict" type="slict_merge_lidar" name="slict_merge_lidar" respawn="true" output="screen" required="false">
        <rosparam file="$(find slict)/config/$(arg config_file)" command="load"/>
    </node> -->

    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/$(arg config_file)" command="load" />
    <param name="/lio_sam/savePCDDirectory"       type="string" value="$(arg exp_log_dir)" />
    <param name="/lio_sam/loopClosureEnableFlag"  type="bool"   value="$(arg loop_en)" />
    
    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <!-- <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" /> -->

    <!--- Run Navsat -->
    <!-- <include file="$(find lio_sam)/launch/include/module_navsat.launch" /> -->

    <node required="$(arg autorun)" pkg="rosbag" type="play" name="rosbag_player"
          args="--clock $(arg bag_file) -r 0.5 -s 0"
          launch-prefix="bash -c 'sleep 1; $0 $@' "/>

    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="$(arg project)_rviz" args="-d $(find lio_sam)/launch/mcdviral.rviz" />

</launch>
